<h1>LoL Wizard Component</h1>
<ul class="nav nav-pills">
  <li class="nav-item" role="presentation">
    <a class="nav-link" routerLinkActive="active" [routerLink]="teamRoute">Team</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" routerLinkActive="active" [routerLink]="[{ outlets: { 'form-wizzard': 'player'} }]">Player</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" routerLinkActive="active" target="_self">Summary</a>
  </li>
</ul>
<router-outlet name="form-wizzard"></router-outlet>