/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 70px;
}

/* change cursor on ngbDatepicker*/
.day.disabled {
    cursor: not-allowed !important;
}

/* TODO revisit stylng for player table component */
.table .form-group {
    margin-bottom: 0;
}